*,
*:before
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}

.wrapper{
    max-width: 75rem;
    padding: 2rem;
    margin: 0 auto;
    
}

/* gallery session */

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 12.5rem);
    gap: .5rem;
}

/* gallery layout */

.gallery-item--1{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.gallery-item--2{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.gallery-item--3{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;

}
.gallery-item--4{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;

}
.gallery-item--5{
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;

}
.gallery-item--6{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;

}
.gallery-item--7{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;

}
.gallery-item--8{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;

}

/* gallery link */

.gallery_link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* gallery link overlay */

.gallery_overlay{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    background: rgb(0, 0, 0, 0.4);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;

}

.gallery_link:hover .gallery_overlay{
    opacity: 1;

}

/* gallery overlay text */

.gallery_overlay span{
    position: relative;
    line-height: 3rem;
}
.gallery_overlay span:before,
.gallery_overlay span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: #eee;
    transition: width .3s ease-out;

}
.gallery_overlay span:before{
    top: 0;
    left: 0;
}
.gallery_overlay span:after{
    bottom: 0;
    right: 0;
}

.gallery_link:hover .gallery_overlay span:before,
.gallery_link:hover .gallery_overlay span:after{
    width: 100%;
}

/* gallery image */

.gallery_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: 
    transform .5s,
    filter .5s;
}

.gallery_link:hover .gallery_image{
    transform: scale(1.2);
    filter: blur(2px);
}

/* button session */

.button{
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
}
.button a{
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #111;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.button a:before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}
.button a:hover:before{
    transform: scaleY(0);

}
.button a:after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}

.button a:hover:after{
    transform: scaleX(0);

}
.button a span{
    position: relative;
    z-index: 3;
}
/* end session button */

/* starts footer session */
.footer{
    background: rgb(158, 157, 157);
    width: 84.5%;
    height: 95px;
    padding-left: 2rem;
    margin: 0 auto;

}


/* end session session */

@media screen and (max-width: 60rem) {
    .wrapper{
        padding: 1rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }

    /* gallery layout */

    .gallery-item--1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .gallery-item--2{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .gallery-item--3{
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    
    }
    .gallery-item--4{
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
    
    }
    .gallery-item--5{
        grid-column: 2 / span 1; 
        grid-row: 3 / span 1;
    
    }
    .gallery-item--6{
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    
    }  

    .gallery_overlay {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 35rem) {
    .gallery{
        display: block;
    }

    .gallery_item {
        margin: .5rem;

    }

    .gallery_link{
        height: 80vw;
    }
    .gallery_overlay {
        font-size: 1rem;
    }
}



